# Install requires
numpy>=1.21.0
scipy>=1.9.1; python_version >= '3.9'
pylops>=2.0
# Setup requires
pybind11>=2.6.0; python_version < '3.10'
pybind11>=2.10.0; python_version >= '3.11'
setuptools_scm
# Tests require
pytest
# Docs require
Sphinx
pydata-sphinx-theme
sphinx-gallery
sphinx-copybutton
# Dev requires
pre-commit
# Lint
flake8
mypy
coverage
# Examples require
matplotlib
tqdm
ipywidgets
ipython
ipympl
